@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-color: #da9f5b;
  --swiper-pagination-color: #da9f5b;
}

.submenu::after {
  content: "";
  margin: 0 0.25em;
  display: inline-block;
  border: 5px solid transparent;
  border-top: 6px solid currentColor;
  border-bottom: 0 none;
}

/* .swiper-pagination-bullet-active {
     background-color: #da9f5b !important;
} */
